* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
}

.container-grid {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header {
    background-color: #020512;
    height: 80px;
}


.menu {
    width: 660px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.banner {
    height: 600px;
    background-image: url(../img/talvez\ novo\ background\ inicial.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.texto-banner {
    color: white;
    background-color: #020512;
    width: 400px;
    height: 185px;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    justify-content: flex-end;
    text-decoration: none;
}

.texto-banner a {
    justify-content: flex-end;
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-shadow: gray;
}

.posição-texto {
    justify-content: flex-end;
    text-align: center;
}

.INFOS {
    width: 400px;
    justify-content: space-between;
}

.but {
    background-color: purple;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 300px;
    border-radius: 100px;
    justify-content: space-around;
    margin-top: 5px;
    display: block;
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
}

.left .content .svg {
    margin: 20px 0 0 0;
}

.left .content .svg a {
    padding: 0 2px;
}

.left .content .svg a span {
    width: 40px;
    height: 40px;
    background: #020512;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    font-size: 18px;
}

.left .content .svg a span:hover {
    background: darkmagenta;
}

footer {
    background: #020512;
    height: auto;
    width: 100wm;
    font-family: 'Open Sans';
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: midnightblue;
}

.footer-bottom {
    background: #020512;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

body,
ul {
    margin: 0px;
    padding: 0px;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Open Sans';
}

a:hover {
    background: rgba(0, 0, 0, .05);
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
}

#header {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: space-between;
    background: #e7e7e7;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

.posicinamento-header {
    position: relative;
}

@media screen and (max-width: 1200px) {
    .container-grid {
        width: 90%;
    }

    .menu a {
        font-size: 16px;
    }

    .barras {
        width: 30px;
        display: none;
    }

    .logo {
        width: 200px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        color: blue;
    }

    .barras {
        width: 30px;
        display: inline-block;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 200px;
        height: 250px;
        position: absolute;
        top: 0;
        right: 60;
        background-color: black;
    }

    .menu a {
        text-align: center;
        padding: 15px;
    }
}